:root {
  --bg-color: rgb(0, 191, 255);
  --font-color: #0000;
  --font-size: 1.5rem;
}

/*--Geral--*/
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}

/*--Estilização do cabeçalho--*/

header {
  display: flex;
  justify-content: center;
  height: 120px;
}
.container {
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  width: 1200px;
  
}

.logo {
  display: flex;
  align-items: center;
}
.menu{
 background-color: darkgoldenrod;
}