:root {
  --container: 1200px;
  --bg-color: #2ac5d9;
  --bg-color-card-1: #1ca39e;
  --bg-color-card-2: #026f6e;
  --bg-color-card-3: #09456c;
  --bd-color-card-4: #19274e;
  --primary-font-color: #ffff;
  --secundary-font-color: #727272;
  --font-size: 4.35rem;
  --font: Arial, Helvetica, sans-serif;
}

/*--Geral--*/
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: var(--font);
  transition: all 0.6s linear;
}

/*--Estilização do cabeçalho--*/

header {
  display: flex;
  justify-content: center;
  height: 120px;
}
.container {
  display: flex;
  justify-content: space-between;
  width: var(--container);
}

/*---Área do logo---*/
.logo {
  display: flex;
  align-items: center;
}
/*---Área do menu---*/
.menu {
  display: flex;
  align-items: center;
}
nav ul,
nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul {
  display: flex;
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 1rem;
  color: var(--secundary-font-color);
  padding: 15px;
}

nav .active a,
nav a:hover {
  background-color: var(--bg-color);
  color: var(--primary-font-color);
  border-radius: 12px;
}

/*---Estilização do banner---*/
#banner,
#banner-dp,
#banner-convenio {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/img.jpg");
  background-position: center;
  background-size: cover;
  height: 710px;
  filter: grayscale(0%);
  transition: all 0.6s linear;
}
#banner:hover {
  filter: grayscale(40%);
}

.column {
  flex-direction: column;
}
.banner-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-font-color);
  font-family: var(--font);
}
.banner-text h1,
.banner-text h2 {
  text-shadow: 0px 1px 0px #555555;
  padding: 0;
  margin: 0;
  max-width: 400px;
}
.banner-text h1 {
  font-size: var(--font-size);
}
.banner-text h2 {
  font-size: 1.72rem;
  margin-top: 2rem;
}
.banner-specialties {
  display: flex;
  flex-direction: row;
  height: 230px;
  color: var(--primary-font-color);
  margin-top: 3rem;
}

.box-specialties {
  flex: 1;
  padding: 20px;
}
#specialties-1 {
  background-color: var(--bg-color-card-1);
}
#specialties-2 {
  background-color: var(--bg-color-card-2);
}
#specialties-3 {
  background-color: var(--bg-color-card-3);
}
#specialties-4 {
  background-color: var(--bd-color-card-4);
}
.box-specialties-title {
  font-size: 1.31rem;
}
.box-specialties-desc {
  font-size: 0.75rem;
  margin: 20px 0 5px 0px;
  height: 108px;
}
.box-specialties a {
  display: inline-block;
  border: 1px solid #ffff;
  border-radius: 12px;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 15px;
  color: rgb(22, 22, 22);
}
.box-specialties a:hover {
  background-color: var(--bg-color);
  font-weight: bold;
}

#geral {
  /*margin-top: 2rem;*/
  display: flex;
  justify-content: center;
}
#geral section {
  flex: 2;
}
#geral aside {
  flex: 1;
}
.widget-title {
  margin-top: 1.87rem;
  margin-bottom: 1.25rem;
}

.widget-title-text {
  font-size: 1.31rem;
  font-weight: bold;
}
.widget-title-text-bar {
  width: 50px;
  height: 2px;
  background-color: var(--bg-color);
  margin-top: 10px;
}
#departament {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.widget-body-card {
  width: 180px;
  height: 180px;
  margin: 5px;
  margin-right: 0px;
  background-color: var(--bg-color);
}
#clinico,
#pediatria,
#ginecologista,
#ortopedia {
  background-position: center;
  background-size: cover;
  filter: grayscale(0%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}

#clinico:hover,
#pediatria:hover,
#ginecologista:hover {
  background-size: 110%;
}
#ortopedia:hover {
  background-size: 180%;
}
#departament a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primary-font-color);
}
#departament a:hover {
  border: 1px solid var(--bg-color);
  padding: 5px;
}
#clinico {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/img-g.jpg");
}

#pediatria {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/img-p.jpg");
}

#ortopedia {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/img-o.jpg");
}
#ginecologista {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/img-gi.jpg");
}
/* 
-- Página de departamentos---*/

#banner-dp {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/capa-departamento2.jpg");
  height: 100%;
}

#banner-dp:hover {
  filter: grayscale(50%);
}
.container-dp,
.container-convenio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: var(--secundary-font-color);
  margin: 2rem 0;
}
.departamento,
.convenios {
  width: 400px;
  height: 400px;
  margin: 10px;
  background-color: #ffffff;
  opacity: 0.8;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgb(74, 74, 74);
}
.departamento:hover,
.convenios:hover {
  opacity: 1;
}
.departamento h2 {
  color: #000;
  font-size: 1.5rem;
  transition: 0.4s;
}
.departamento h2:hover {
  color: var(--bg-color);
}
.departamento {
  padding-left: 29px;
  transition: .4s;
}
.departamento ul {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
.title-dp {
  color: rgb(0, 0, 0);
  font-weight: 750;
  padding-left: 0px;
}

/* 
-- PÁGINAS DE CONVENIOS--*/

#banner-convenio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/capa-convenio.jpg");
  height: 100%;
}
.convenios {
  padding-left: 29px;
}
.convenios ul {
  padding: 0;
}
.convenios li {
  background-color: #2ac5d9;
  margin: 5px 0;
  padding: 5px 20px;
  border-radius: 5px;
  color: var(--primary-font-color);
  list-style: none;
  transition: 0.4s;
}
.convenios li:hover {
  background-color: #19274e;
}


/* -- Estilização de Referências -- */
.flex {
  display: flex;
  flex-wrap: wrap;
}
article {
  flex: 1;
  min-width: 300px;
  margin-right: 20px;
}
article .reference-data {
  display: flex;
}

article .reference-data-post,
.reference-comments {
  background-color: var(--bg-color-card-2);
  color: var(--primary-font-color);
  font-size: 1.1rem;
  padding: 10px;
}
.reference-comments {
  background-color: var(--bg-color);
  margin-left: 4px;
}
article a {
  text-decoration: none;
}
article .refence-img {
  margin-top: 1.87rem;
}
article .refence-img img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}
article .refence-title h2 {
  margin: 1.56rem 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--secundary-font-color);
}
article span {
  font-weight: bold;
  color: var(--bg-color);
}
article .reference-resume p {
  font-size: 0.87rem;
  color: #5c5c5c;
  line-height: 20px;
  margin-bottom: 30px;
}
.flex-column{
  flex-direction: column;
}
footer {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  text-transform: uppercase;
}
.footer-menu{
  display: flex;
  
}
.footer-card{
  flex: 1;
  padding: 1.25rem;
  color: var(--primary-font-color);
}
#card-1{
  background-color: var(--bg-color-card-1);
}
#card-2{
  background-color: var(--bg-color-card-2);
}
#card-3{
  background-color: var(--bg-color-card-3);
}
#card-4{
  background-color: var(--bd-color-card-4);
}
.redes-s{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 20px;
  
}

.redes-s i{
  font-size: 2rem;
}
#clinicas {
  padding: 0px 5px;
}
#clinicas ul{
  list-style: none;
  padding: 0;
  font-size: 12px;
  text-transform: none;
}
.footer-area{
  display: flex;
  margin-top: 1rem;
 
}
.footer-area-card{
  flex: 1;
  color: var(--primary-font-color);
 
}
.footer-area-card .widget{
  
  margin: 0px 20px;
}
#logo {
  padding: 0;
}

.footer-copy{
  font-size: 12px;
  border-top: 1px solid var(--secundary-font-color);
  margin-top: 30px;
  color: var(--secundary-font-color);
  text-align: center;
  line-height: 40px;
}
footer a {
  text-decoration: none;
  color:var(--secundary-font-color);
  
}
footer a:hover {
 
  text-decoration: underline;
  color: var(--bg-color);
}