:root {
  --bg-color: #2ac5d9;
  --bg-color-card-1: #1ca39e;
  --bg-color-card-2: #026f6e;
  --bg-color-card-3: #09456c;
  --bd-color-card-4: #19274e;
  --primary-font-color: #ffff;
  --secundary-font-color: #727272;
  --font-size: 4.35rem;
  --font: Arial, Helvetica, sans-serif;
  --footer-font-size: 0.93rem;
}

/*--Geral--*/
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: var(--font);
}

/*--Estilização do cabeçalho--*/

header {
  display: flex;
  justify-content: center;
  height: 120px;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 990px;
}

/*---Área do logo---*/
.logo {
  display: flex;
  align-items: center;
}
/*---Área do menu---*/
.menu {
  display: flex;
  align-items: center;
}
nav ul,
nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul {
  display: flex;
}
nav a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--secundary-font-color);
  padding: 15px;
  margin-right: 20px;
}

nav .active a,
nav a:hover {
  background-color: var(--bg-color);
  color: var(--primary-font-color);
  border-radius: 2px;
}

/*---Estilização do banner---*/
#banner,
#banner-dp,
#banner-convenio,
#banner-faq {
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
  height: 670px;
  /*width: 100%;*/
  /*filter: grayscale(0%);
  transition: all 0.6s linear;
  margin-bottom: 10rem;*/
}
#banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/img.jpg");
}
#banner:hover {
  filter: grayscale(40%);
}
.column {
  flex-direction: column;
}
.banner-headline {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-font-color);
  font-family: var(--font);
}
.banner-headline h1,
.banner-headline h2 {
  text-shadow: 0px 1px 0px #555555;
  padding: 0;
  margin: 0;
  max-width: 450px;
}
.banner-headline h1 {
  font-size: var(--font-size);
}
.banner-headline h2 {
  font-size: 1.72rem;
  margin-top: 2rem;
}

.banner-options {
  height: 210px;
  display: flex;
  color: var(--primary-font-color);
  margin-top: 2.5rem;
}

.banner-options-specialties {
  flex: 1;
  padding: 20px;
}
#specialties-1 {
  background-color: var(--bg-color-card-1);
}
#specialties-2 {
  background-color: var(--bg-color-card-2);
}
#specialties-3 {
  background-color: var(--bg-color-card-3);
}
#specialties-4 {
  background-color: var(--bd-color-card-4);
}
.box-specialties-title {
  font-size: 1.31rem;
}
.box-specialties-desc {
  font-size: 0.75rem;
  margin: 20px 0px;
  height: 80px;
}
.banner-options-specialties a {
  display: inline-block;
  border: 1px solid var(--primary-font-color);
  border-radius: 12px;
  padding: 8px;
  background-color: var(--primary-font-color);
  text-decoration: none;
  font-size: 15px;
  color: rgb(22, 22, 22);
}
.banner-options-specialties a:hover {
  background-color: var(--bg-color);
  font-weight: bold;
}

#geral {
  /*margin-top: 2rem;*/
  display: flex;
  justify-content: center;
}
#geral section {
  flex: 2;
}
#geral aside {
  flex: 1;
}
.widget-title {
  margin-top: 1.87rem;
  margin-bottom: 1.25rem;
}

.widget-title-text {
  font-size: 1.31rem;
  font-weight: bold;
}
.widget-title-text-bar {
  width: 50px;
  height: 2px;
  background-color: var(--bg-color);
  margin-top: 10px;
}
#departament {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.widget-body-card {
  width: 160px;
  height: 160px;
  margin: 5px;
  margin-right: 0px;
  background-color: var(--bg-color);
}
#clinico,
#pediatria,
#ginecologista,
#ortopedia {
  background-position: center;
  background-size: cover;
  filter: grayscale(0%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}

#clinico:hover,
#pediatria:hover,
#ginecologista:hover {
  background-size: 110%;
}
#ortopedia:hover {
  background-size: 180%;
}
#departament a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primary-font-color);
}
#departament a:hover {
  border: 1px solid var(--bg-color);
  padding: 5px;
}
#clinico {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/img-g.jpg");
}

#pediatria {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/img-p.jpg");
}

#ortopedia {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/img-o.jpg");
}
#ginecologista {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/img-gi.jpg");
}
/* 
-- Página de departamentos---*/

#banner-dp {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/capa-departamento2.jpg");
  height: 100%;
}

#banner-dp:hover {
  filter: grayscale(50%);
}
.container-dp,
.container-convenio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: var(--secundary-font-color);
  margin: 2rem 0;
}
.departamento,
.convenios {
  width: 400px;
  height: 400px;
  margin: 10px;
  background-color: #ffffff;
  opacity: 0.8;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgb(74, 74, 74);
}
.departamento:hover,
.convenios:hover {
  opacity: 1;
}
.departamento h2 {
  color: #000;
  font-size: 1.5rem;
  transition: 0.4s;
}
.departamento h2:hover {
  color: var(--bg-color);
}
.departamento {
  padding-left: 29px;
  transition: 0.4s;
}
.departamento ul {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
.title-dp {
  color: rgb(0, 0, 0);
  font-weight: 750;
  padding-left: 0px;
}

/* 
-- PÁGINAS DE CONVENIOS--*/

#banner-convenio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/capa-convenio.jpg");
  height: 100%;
}
.convenios {
  padding-left: 29px;
}
.convenios ul {
  padding: 0;
}
.convenios li {
  background-color: #2ac5d9;
  margin: 5px 0;
  padding: 5px 20px;
  border-radius: 5px;
  color: var(--primary-font-color);
  list-style: none;
  transition: 0.4s;
}
.convenios li:hover {
  background-color: #19274e;
}
/* Página FAQ*/

#banner-faq {
  background-image: url("../img/FAQs-cuate.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
.column-faq {
  display: flex;
  flex-direction: column;
  width: 990px;
}
#banner-headline-faq h1 {
  color: var(--bg-color-card-3);
  font-weight: 900px;
}

.faqs button {
  margin: 10px 0;
  font-weight: 900;
  width: calc(100% - 30px);
  border-radius: 8px;
  padding: 20px;
}

.faqs-text {
  background-color: var(--bg-color-card-1);
  width: calc(100% - 32px);
  border-radius: 6px;
  color: black;
  font-weight: 500;
}
.faqs a {
  text-decoration: none;
  color: #2900f8;
}
.faqs a:hover {
  color: var(--primary-font-color);
}

/* -- Estilização de Referências -- */
.flex {
  display: flex;
  flex-wrap: wrap;
}
article {
  flex: 1;
  min-width: 300px;
  margin-right: 20px;
}
article .reference-data {
  display: flex;
}

article .reference-data-post,
.reference-comments {
  background-color: var(--bg-color-card-2);
  color: var(--primary-font-color);
  font-size: 1.1rem;
  padding: 10px;
}
.reference-comments {
  background-color: var(--bg-color);
  margin-left: 4px;
}
article a {
  text-decoration: none;
}
article .refence-img {
  margin-top: 1.87rem;
}
article .refence-img img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}
article .refence-title h2 {
  margin: 1.56rem 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--secundary-font-color);
}
article span {
  font-weight: bold;
  color: var(--bg-color);
}
article .reference-resume p {
  font-size: 0.87rem;
  color: #5c5c5c;
  line-height: 20px;
  margin-bottom: 30px;
}
.flex-column {
  flex-direction: column;
}
.widget-title-fale-conosco {
  width: 100%;
  height: 2px;
  background-color: darkgrey;
  margin-top: 10px;
}
.contato-car {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 5px;
}
.contato-car i {
  background-color: #939393;
  border-radius: 4px;
  font-size: 1.8rem;
  padding: 5px;
  color: var(--primary-font-color);
  margin-right: 15px;
}
/* estilização do footer*/
footer {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  text-transform: uppercase;
}
.footer-menu {
  display: flex;
}
.footer-card {
  flex: 1;
  padding: 20px;
  color: var(--primary-font-color);
}
.footer-card a {
  display: block;
}
#card-1 {
  background-color: var(--bg-color-card-1);
}
#card-2 {
  background-color: var(--bg-color-card-2);
}
#card-3 {
  background-color: var(--bg-color-card-3);
}
#card-4 {
  background-color: var(--bd-color-card-4);
}
.footer-card a {
  text-decoration: none;
  color: var(--primary-font-color);
}
.footer-card a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.pag-type {
  display: flex;
  justify-content: flex-start;
}
.pag-type i {
  padding: 5px 10px;
}
.pag-type i:hover {
  color: var(--bg-color);
}
/* area do footer*/
.footer-area {
  display: flex;
  margin-top: 1rem;
}
/* seções do footer*/
.footer-area-card {
  flex: 1;
  color: var(--primary-font-color);
}

/* Redes sociais*/

.redes-s {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 20px;
  font-size: 1.5rem;
}

/* clinicas endereço*/

.widget-body-clinc {
  margin: 1rem 0;
}
address {
  font-style: normal;
  color: var(--secundary-font-color);
}
#clinicas {
  padding: 0px 5px;
}
.address {
  margin-bottom: 2rem;
}
#clinicas ul {
  list-style: none;
  padding: 0;
  font-size: var(--footer-font-size);
  line-height: 1.2rem;
  text-transform: none;
}

/* informações e links*/
.widget-body-info a {
  font-size: var(--footer-font-size);
  text-transform: none;
}

.footer-area-card .widget {
  margin: 10px 20px;
}

.footer-copy {
  font-size: 12px;
  border-top: 1px solid var(--secundary-font-color);
  margin-top: 30px;
  color: var(--secundary-font-color);
  text-align: center;
  line-height: 40px;
}
footer a {
  text-decoration: none;
  color: var(--secundary-font-color);
}
footer a:hover {
  text-decoration: underline;
  color: var(--bg-color);
}
.menu-mobile {
  display: none;
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
}
.menu-mobile-line {
  height: 3px;
  background-color: var(--bg-color);
}
@media (max-width: 768px) {
  .banner-headline,
  .banner-faq,
  .banner-text {
    padding: 20px;
  }
  .banner-headline h1 {
    font-size: 55px;
  }
  .banner-headline h2 {
    font-size: 17px;
  }
  .banner-options {
    height: auto;
    flex-direction: column;
  }
  .box-specialties-desc {
    height: auto;
  }
  .referencia {
    margin-top: 22rem;
  }
  .footer-menu {
    flex-direction: column;
  }
  .footer-area {
    flex-direction: column;
  }
  .redes-s i {
    font-size: 45px;
  }

  #banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .container {
    flex-direction: column;
    /*padding: 20px;*/
  }
  #geral section,
  #geral aside {
    padding: 23px;
  }
  .widget-body-card {
    width: 260px;
    height: 300px;
  }
  header .container {
    flex-direction: row;
  }
  nav ul {
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: var(--primary-font-color);
    z-index: 2;
  }
  #banner {
    z-index: 1;
  }
  nav ul a {
    margin: 8px 5px;
  }

  header {
    height: auto;
  }
  .logo {
    padding-left: 20px;
  }
  .menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .banner-text h2 {
    text-align: center;
  }
  #geral {
    display: flex;
    justify-content: center;
  }

  .container-faq button {
    width: calc(100% - 10px);
  }

  .footer-menu {
    justify-content: center;
  }
}

@media (max-width: 320px) {
  #geral section {
    padding: 123px;
  }

  #banner-headline-faq h1 {
    font-size: 32px;
  }
  .column-faq {
    display: flex;
    flex-direction: column;
  }

  .faqs button {
    font-size: 0.75rem;
    height: auto;
    white-space: wrap;
  }

  .w3-btn,
  .w3-button {
    white-space: normal !important;
  }
  .faqs-text {
    padding: 15px;
  }
  .faqs p {
    margin-bottom: 9px;
  }
  .faqs-text li {
    margin-left: 15px;
    margin-bottom: 10px;
  }

  .menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .menu a {
    font-size: 1rem;
  }
  .referencia {
    margin-top: 30rem;
  }
  .widget-body article {
    padding: 10px;
  }

  #departamento {
    max-width: 315px;
  }
  #departamento .mobile-title {
    padding: 0px 10px;
  }
  .mobile-title {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
  .referencia .mobile-title {
    padding: 0px 10px;
  }
  #widget-contato {
    max-width: 315px;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
  }
  .aside-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .widget {
    padding: 0px;
  }
  .container-dp {
    max-width: 318px;
    height: auto;
  }
  .container-dp .departamento {
    padding: 10px;
    height: auto;
  }
  .container-convenio {
    max-width: 315px;
  }
  .container-convenio .convenios {
    padding-left: 10px;
  }
}
@media (min-width: 375px) and (max-width: 425px) {
  .referencia {
    margin-top: 26rem;
  }

  #banner-headline-faq h1 {
    font-size: 32px;
  }
  .column-faq {
    display: flex;
    flex-direction: column;
  }

  .faqs button {
    font-size: 0.75rem;
    height: auto;
    white-space: wrap;
  }

  .w3-btn,
  .w3-button {
    white-space: normal !important;
  }
  .faqs-text {
    padding: 15px;
  }
  .faqs p {
    margin-bottom: 9px;
  }
  .faqs-text li {
    margin-left: 15px;
    margin-bottom: 10px;
  }
}
